<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/application.css">
  <script src="js/application.js"></script>
</head>
<body>
  <h1>The greatest website ever</h1>
  <div class="output"><%= @message %></div>
</body>
</html>